@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
}

/* Custom */
/* Đổi màu chữ */
@keyframes slideGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@utility animate-change-color {
  background: linear-gradient(90deg, #FFFFFF, #00BFFF, #FFFFFF);
  background-size: 200% 200%;
  animation: slideGradient 3s linear infinite;
  -webkit-background-clip: text;
  color: transparent;
}